In [5]:
#########################
# Tipos de variables
#########################

# Variables Numéricas
import math
x = 12
y = 13.5
print(type(x),
      type(y))

# Variables de texto
z = "Hola Mundo"
print(z)

# Variables Booleanas
w = True
print(w)

# Variables de tipo None
n = None
print(n)

# Variables de tipo lista
l = [1, 2, 3, 4, 5]
print(l)

# Variables de tipo tupla
t = (1, 2, 3, 4, 5)
print(t)

# Variables de tipo diccionario
d = {"nombre": "Juan", "edad": 25}
print(d)

# Variables de tipo conjunto
c = {1, 2, 3, 4, 5}
print

# Variables de tipo rango
r = range(1, 100)
print(r)

# Variables de tipo bytes
b = bytes(5)
print(b)

# Variables de tipo bytearray
ba = bytearray(5)
print(ba)

# Variables de tipo memoria
m = memoryview(bytes(5))

# Variables de tipo fecha
import datetime
f = datetime.datetime.now()
print(f)    

# Variables de tipo matemáticas
print(math.pi)
print(math.e)
print(math.inf)
print(math.nan)
print(math.tau)
print(math.sqrt(25))

# Variables de tipo random
import random
print(random.random())
print(random.randint(1, 100))
print(random.choice([1, 2, 3, 4, 5]))
print(random.choices([1, 2, 3, 4, 5], k=2))
print(random.sample([1, 2, 3, 4, 5], k=2))
print(random.shuffle([1, 2, 3, 4, 5]))
print(random.uniform(1, 100))
print(random.gauss(1, 100))

# Variables de tipo estadísticas
import statistics
print(statistics.mean([1, 2, 3, 4, 5]))
print(statistics.median([1, 2, 3, 4, 5]))
print(statistics.mode([1, 2, 3, 4, 5]))
print(statistics.stdev([1, 2, 3, 4, 5]))
print(statistics.variance([1, 2, 3, 4, 5]))

<class 'int'> <class 'float'>
Hola Mundo
True
None
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'nombre': 'Juan', 'edad': 25}
range(1, 100)
b'\x00\x00\x00\x00\x00'
bytearray(b'\x00\x00\x00\x00\x00')
2024-03-20 09:28:44.191502
3.141592653589793
2.718281828459045
inf
nan
6.283185307179586
5.0
0.04538843029576756
93
4
[2, 4]
[4, 3]
None
45.41345181159308
-143.60379365691537
3
3
1
1.5811388300841898
2.5

In [4]:
# Casteo de variables Numáricas
x = 4.9
y = 5.4

z = int(x)
print(z)

z = round(x)
print(z)

x = 4
print(x, type(x))

z = float(x)
print(z, type(z))

4
5
4 <class 'int'>
4.0 <class 'float'>

In [ ]:
# Operadores de variables numèricas
x = 17
y = 3
print(
    x + y,
    x - y,
    x * y,
    x / y,
)

# Divisiòn entera
print(
    x // y,
    x % y
)

# Potenciación
print(
    x ** y,
    16 ** (1/2)
)

# Orden de operaciones
## La prioridad de las operaciones es la siguiente:
### Paréntesis
### Exponenciación
### Producto y División
### Suma y Resta
print(
    5 + 16 / 2 ** 4,
    5 + (16 / 2) ** 4,
    5 + (16 / (2 ** 4))
)

In [35]:
# Variables Booleanas
print(4 < 5,
      4 > 5,
      4 == 6,
      )
x = 5
x = True
y = False
print(
    x,
    type(x)
)

True False False
True <class 'bool'>

In [52]:
# Operadores de combinación de variables booleanas
a = True
b = False
print(
    a and a,
    a and b,
    a or b,
    b or b,
    (3 < 4) and (4 < 5)
)

True False True False True

In [6]:
# Strings
saludo = "Hola mundo!"
print(saludo,
      type(saludo))

nombre = "Thor"
edad = 35
saludo = f"Hola {nombre}, tu edad es {edad}"
print(saludo)

Hola mundo! <class 'str'>
Hola Thor, tu edad es 35

In [55]:
# Comillas simples, dobles y triples
nombre = "Manuel Montoya"
print(nombre)
nombre = 'Manuel Montoya'
print(nombre)
mensaje = "Mi nombre es 'Manuel'"
print(mensaje)
mensaje = """este es un mensaje de varias lineas en python"""
print(mensaje)

Manuel Montoya
Manuel Montoya
Mi nombre es 'Manuel'
este es un mensaje de varias lineas en python

In [85]:
# Operadores de strings
cadena = "Thor"
print(cadena + ", hijo de Odin", cadena * 5)

# Otros operadores de strings
x = "Real Madrid"
y = "Barcelona"

print(x < y,
      "a" < "b",
      "a" > "A",
      "Brasil" == "Brasil",
      "Brasil" == "brasil",
      )

cadenaa = "Manuel Montoya"
cadenaa.upper()
cadenaa.lower()

Thor, hijo de Odin ThorThorThorThorThor
False True True True False

'manuel montoya'

In [90]:
# Ingreso de valores por el usuario
nombre = input("Ingrese su nombre:")
print(nombre, type(nombre))
edad = input("Ingrese su edad: ")
edad = int(edad)
print(edad, type(edad))

abc <class 'str'>
12 <class 'int'>

In [96]:
# Ejercicios con operadores

## ¿Cuántos segundos hay en un día?
### 1 minuto tiene 60 segundos
### 1 hora tiene 60 minutos
### 1 día tiene 24 horas
segundos_por_dia = 6 * 60 * 60
print(segundos_por_dia)
segundos_por_semana = segundos_por_dia * 7
print(segundos_por_semana)


## Calcular el monto a pagar por un préstamoD
### Las variables de entrada son:
### m : monto prestado
### n : número de meses que dura el préstamo
### i : tasa de interés mensual
### El monto final a pagar por el préstamo se calcula multiplicando el monto prestado por uno más el interés elevado a la candidad de meses que dura el préstamo.
### monto_pago = m * (1 + i) ** n
m = 10000
i = 0.05
n = 12
monto_pago = m * (1 + i) ** n
monto_pago

21600
151200

17958.5632602213