In [5]:
#########################
# Tuplas
#########################

# Tuplas
lista = [1, 2, 3, 4]
tupla = (10, 20, 30, 40)

print(
    tupla[2],
    tupla[-1]
)

lista[2] = 12345
# tupla[2] = 12345
print(
    lista,
    #   tupla
)

30 40
[1, 2, 12345, 4]

In [ ]:
# Tuplas: Generación
a = 5
b = 6
tupla = a, b
print(tupla)
type(tupla)

print(tupla[0],
      tupla[1])

In [7]:
# Casteo
tupla = 40, 50, 60
lista = list(tupla)
print(lista)

lista[1] = 12345
print(lista)
tuple(lista)

(40, 50, 60)
[40, 50, 60]
[40, 12345, 60]

(40, 12345, 60)

In [8]:
# Asignacion de elementos
a = 5
a, b, c = 4, 5, 6
print(
    a,
    b,
    c
)

4 5 6
[1, 2, 3, 5] True

In [1]:
a, b = [1, 2, 3, 5], True
print(
    a,
    b
)

[1, 2, 3, 5] True

In [2]:
# SETS
campeones_del_mundo = ['Uruguay', 'Italy', 'Italy', 'Uruguay',
                       'Germany FR', 'Brazil', 'Brazil', 'England',
                       'Brazil', 'Germany FR', 'Argentina', 'Italy',
                       'Argentina', 'Germany FR', 'Brazil', 'France',
                       'Brazil', 'Italy', 'Spain', 'Germany', 'France']

campeones_unicos = set(campeones_del_mundo)
print(
    campeones_del_mundo[0],
    "\n",
    campeones_unicos,
    # campeones_unicos[0]
)

Uruguay
 {'Germany', 'Argentina', 'Spain', 'Uruguay', 'England', 'Italy', 'Brazil', 'France', 'Germany FR'}

In [20]:
# Operaciones con conjunto
herramientas_ds = {"Python", "R", "SQL", "Spark", "Tableau", "Python"}
print(herramientas_ds)
herramientas_ds.add("Excel")
print(herramientas_ds)
herramientas_de = {"Python", "SQL", "Spark", "Sqoop", "Kafka"}
herramientas_ds.intersection(herramientas_de)
herramientas_ds.difference(herramientas_de)
herramientas_ds.union(herramientas_de)
print(herramientas_ds)

{'Spark', 'SQL', 'Python', 'R', 'Tableau'}
{'Spark', 'SQL', 'Python', 'Excel', 'R', 'Tableau'}
{'Spark', 'SQL', 'Python', 'Excel', 'R', 'Tableau'}

In [21]:
# Ejercicio
# Obtener la lista de pokemones que Ash usó en las ligas pokemon ordenados en orden alfabético

kanto = ["Squirtle", "Pikachu", "Charizard"]
johto = ["Pikachu", "Totodile", "Snorlax", "Noctowl", "Bayleef", "Charizard"]
hoenn = ["Glalie", "Torkoal", "Corphish", "Swellow", "Grovyle", "Pikachu"]
sinnoh = ["Heracross", "Torkoal", "Gible", "Sceptile", "Swellow", "Pikachu"]
unova = ["Boldore", "Oshawott", "Pignite", "Pikachu", "Unfezant", "Snivy"]
kalos = ["Pikachu", "Noivern", "Hawlucha", "Talonflame", "Goodra", "Greninja"]
     
pokemon_total = kanto + johto + hoenn + sinnoh + unova + kalos
# print(pokemon_total)     
pokemon_set = set(pokemon_total)
print(pokemon_set)
pokemon_list = list(pokemon_set)
print(pokemon_list)
pokemon_list.sort()
print(pokemon_list)
pokemon_list[-1]
len(pokemon_list)

{'Swellow', 'Charizard', 'Unfezant', 'Talonflame', 'Gible', 'Boldore', 'Snorlax', 'Torkoal', 'Corphish', 'Sceptile', 'Snivy', 'Grovyle', 'Hawlucha', 'Greninja', 'Squirtle', 'Totodile', 'Pignite', 'Glalie', 'Noivern', 'Goodra', 'Heracross', 'Pikachu', 'Oshawott', 'Noctowl', 'Bayleef'}
['Swellow', 'Charizard', 'Unfezant', 'Talonflame', 'Gible', 'Boldore', 'Snorlax', 'Torkoal', 'Corphish', 'Sceptile', 'Snivy', 'Grovyle', 'Hawlucha', 'Greninja', 'Squirtle', 'Totodile', 'Pignite', 'Glalie', 'Noivern', 'Goodra', 'Heracross', 'Pikachu', 'Oshawott', 'Noctowl', 'Bayleef']
['Bayleef', 'Boldore', 'Charizard', 'Corphish', 'Gible', 'Glalie', 'Goodra', 'Greninja', 'Grovyle', 'Hawlucha', 'Heracross', 'Noctowl', 'Noivern', 'Oshawott', 'Pignite', 'Pikachu', 'Sceptile', 'Snivy', 'Snorlax', 'Squirtle', 'Swellow', 'Talonflame', 'Torkoal', 'Totodile', 'Unfezant']

25